<div class="container">



    <h1>Hallo Confirm </h1>

    <div class="container text-center">

        Ihre Anfrage war erfolgreich. Wir werden Ihnen die Antwort auf die angegebene E-Mail zusenden.

    </div>

    








</div>