
    <div class="container">
  
        <!-- Anmelden -->
      
        <div class="InfoText">
        <h1>Artikel anlegen</h1>
        Legen Sie einen Artikel an.
        </div>

            <form class="row g-3" action="/artikelnew" method="post" id="artikelneu">
              <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
              
              <div class="col-md-6">
                <label for="artikel" class="form-label">Artikel</label>
                <input type="text" class="form-control" name="artikel" id="artikel">
                <div class="message" id="msgArtikel"></div>
              </div>
              <div class="col-md-6">
                <label for="beschreibung" class="form-label">Beschreibung</label>
                <input type="text" class="form-control" id="beschreibung" name="beschreibung">
                <div class="message" id="msgBeschreibung"></div>
              </div>
              <div class="col-6">
                <label for="preis" class="form-label">Preis</label>
                <input type="number" step="0.01" class="form-control" id="preis" name="preis">
                <div class="message" id="msgPreis"></div>
              </div>
              <div class="col-md-6">
                <label for="markt" class="form-label">Markt</label>
                <select id="markt" class="form-select" name="markt">
                  <option selected>Auswahl...</option>
                  <option>Edeka</option>
                  <option>REWE</option>
                  <option>LIDL</option>
                  <option>Kaufland</option>
                </select>
                <div class="message" id="msgMarkt"></div>
              </div>
        
              <div class="col-12">
              <button type="submit" class="btn btn-primary">Anlegen</button>
              </div>

            </form>
          </div>

