
        <header class="py-3">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">Über uns</h1>
                            <p class="lead fw-normal text-muted mb-4">Erfahren Sie mehr über die Entstehung und Entwicklung von StudyLivery.</p>
                        
                        </div>
                    </div>
                </div>
            </div>
        </header>
     
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/images/konstanz-seerhein-752x501.jpg" alt="HTWG" /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Firmenstandort</h2>
                        <p class="lead fw-normal text-muted mb-0">Wir arbeiten von unserer Hochschule aus. Über die Jahre haben wir uns hier eigene Büröräume eingerichtet. Vom Seerhein aus steuern wir alle 
                            Operationen die im Hintergrund laufen und sorgen so dafür, dass unsere Kunden den besten Service in Anspruch nehmen können.
                        </p>
                    </div>
                </div>
            </div>
        </section>
   
        <section class="py-3">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/images/delivery.jpg" alt="eco" /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Studentische Firma</h2>
                        <p class="lead fw-normal text-muted mb-0">StudyLivery ist eine studentische Firma. Arbeiten könne hier Studenten der HTWG-Konstanz und der Universität-Konstanz. Während dem Studium sind bei uns Studenten aus den verschiedensten Studiengängen tätig und helfen somit die
                            Firma am laufen zu halten und diese Tradition fortzuführen.   
                    </div>
                </div>
            </div>
        </section>

        <section class="py-3 bg-light mb-5" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/images/nature.jpg" alt="HTWG" /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Nachhaltigkeit</h2>
                        <p class="lead fw-normal text-muted mb-0">Nachhaltigkeit liegt uns am Herzen, deswegen liefern wir ausschließlich mit elektronisch angetriebenen Fortbewegungsmittel
                            unsere Produkte aus. Auch bei unseren Verpackungen verzichten wir auf herkömmliche Plastiktüten und verwenden stattdessen ökologische Baumwolltaschen. Durch unsere Photovoltaik-Anlagen produzieren wir genug Strom um unser gesamtes Unternehmen, darunter auch die Server für unseren Website, mit Energie zu versorgen. 
                        </p>
                    </div>
                </div>
            </div>
        </section>
   
</body>


</div>