<!-- Header Section with Picture  -->

<header class="bg-dark py-2">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Herzlich Willkommen bei StudyLivery!</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Wir sind ein studentischer Lieferservice der in
                        Konstanz Lebensmittel ausliefert. Erfahrt mehr über Uns auf dieser Website.</p>
                </div>
            </div>
          
    </div>
</header>


<div class="container text-center" id="cardscontainer">
  
    <h1>Unsere Angebote.</h1>

    <div class="row d-flex justify-content-center">

      <div class="col-md-5 col-lg-4 col-9">
        <div class="card">
            <img class="card-img-top" src="/images/supermarkt.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Märkte</h5>
              <p class="card-text">Sie suchen ihren Lieblingssupermarkt ? Kein Problem! Erfahren Sie mehr über unsere angebotenen Marktfilalien in ihrer Stadt und wählen die benötigten Produkte aus.</p>
              <a href="/service" class="btn btn-primary">Märkte</a>
            </div>
          </div>
        </div>

        <div class="col-md-5 col-lg-4 col-9">
          <div class="card">
            <img class="img-fluid" src="/images/scooter.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Lieferservice</h5>
              <p class="card-text">Sie möchten Produkte oder Lebensmittel nach Hause geliefert bekommen ? Hier erhalten Sie alle Informationen über unsere Lieferbedingungen und Liefergebiete. 
                
              </p>
              <a href="/service" class="btn btn-primary">Lieferservice</a>
            </div>
          </div>
          </div>

          <br>

        <div class="col-md-5 col-lg-4 col-9">
          <div class="card">
            <img class="card-img-top" src="/images/lieferantin.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Kosten</h5>
              <p class="card-text">Hier erhalten Sie eine Kostenübersicht für unterschiedliche Dienstleistungen. Genießen Sie attraktive Preise und spannende Angebote.</p>
              <a href="#" class="btn btn-primary">Kosten</a>
            </div>
            </div>
          </div>

          <div class="col-md-5 col-lg-4 col-9">
          <div class="card">
            <img class="card-img-top" src="/images/zahlen.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Zahlungsmöglichkeiten</h5>
              <p class="card-text">Unsere Lieferungen werden immer vor Ort beim Lieferanten bezahlt. Sie können sowohl in bar als auch mit EC-Karte zahlen.</p>
              <a href="#" class="btn btn-primary">Zahlungsmöglichkeiten</a>
            </div>
          </div>
          </div>

          <div class="col-md-5 col-lg-4 col-9">
            <div class="card">
              <img class="card-img-top" src="/images/studenten.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Kontakt</h5>
                <p class="card-text">Sie finden keine Antwort auf ihre Frage ? Kein Problem, nehmen Sie gerne mit uns über dieses Formular Kontakt auf.</p>
                <a href="/kontakt" class="btn btn-primary">Kontaktfomular</a>
              </div>
            </div>
            </div>
    </div>
</div>


<!-- Preis section-->
<section class="bg-light py-5 border-bottom">
    <div id="lieferung" class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Lieferkonditionen</h2>
            <p class="lead mb-0">Unsere Preise.</p>
        </div>
        <div class="row gx-5 justify-content-center text-center">

            StudyLivery liefert ausschließlich in der Konstanzer-Innenstadt und Umgebung aus. Da wir mit elektronsichen Fortbewegungsmittel auf der Straße sind, sind hier unsere
            Möglichkeiten eingeschränkt. Für unsere Lieferung wird ein Pauschalzuschlag auf ihre Bestellung von 10€ aufgeschalgen. Dadurch sind wir in der Lage unsere Transportmittel & das ganze Projekt
            zu finanzieren. Die Liefergebühren fallen für alle PLZ-Einzugsgebiete gleich an. </br>

            Wir sind momentan in der Entwicklung für verschiedene Lieferabos. Ziel ist es, ihnen zu vergünstigten Konditionen den Lieferservice im Abomodus anbieten zu können. 
            StudyLivery informiert sie darüber, sobald die Abos's zur Verfügung stehen.

        </div>
    </div>
</section>
<!-- Testimonials section-->
<section class="mb-4 border-bottom">
    <div class="container px-3 my-3 px-3">
        <div class="text-center mb-2">
            <h2 class="fw-bolder">Kundenbewertungen</h2>
            <p class="lead mb-0">Lesen Sie unsere Kundenbewertungen und überzeugen Sich von unserer Arbeit.</p>
        </div>
       
    </div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  
        <div class="carousel-inner">

            <!-- First Carousel Item & first Infobox -->
    
          <div class="carousel-item active">
            <div class="row d-flex justify-content-center"> <!-- Add Class & Remove Class -->

              <div class="card" id="cardslider">
                <div class="card-body">

                  <div class="stars">
                    <img src="/images/starfull.png">
                    <img src="/images/starfull.png">
                    <img src="/images/starfull.png">
                    <img src="/images/starfull.png">
                    <img src="/images/startnotfull.png">
                </div>
                4 von 5 Sternen.
            </br>
            <div class="bewertung">
                Super Service, schnelle Lieferung, faire Preise. Gerne wieder!
            </div>

            <div class="Name">
                -Max Mustermann-
            </div>
               
                </div>
              </div>  
              
            </div>
            </div>
    
    
            <!-- Second Carousel Item & Second Infobox -->

            <div class="carousel-item">
              <div class="row d-flex justify-content-center"> <!-- Add Class & Remove Class -->

                <div class="card" id="cardslider">
                  <div class="card-body">
  
                      <div class="stars">
                          <img src="/images/starfull.png">
                          <img src="/images/starfull.png">
                          <img src="/images/starfull.png">
                          <img src="/images/starfull.png">
                          <img src="/images/starfull.png">
                      </div>
                  5 von 5 Sternen.
              </br>
              <div class="bewertung">
                  Freundliche junge Menschen! Ich bestelle hier wöchentlich.
              </div>
  
              <div class="Name">
                  -Caroline Meier-
              </div>
                 
                  </div>
                </div>  
              </div>
              </div>


               <!-- Third Carousel Item & Third Infobox -->

              <div class="carousel-item">
                <div class="row d-flex justify-content-center">
                    
                    <!-- Add Class & Remove Class -->
                    
                    <div class="card" id="cardslider">
                      <div class="card-body">
      
                          <div class="stars">
                              <img src="/images/starfull.png">
                              <img src="/images/starfull.png">
                              <img src="/images/starfull.png">
                              <img src="/images/starfull.png">
                              <img src="/images/starfull.png">
                          </div>
                      5 von 5 Sternen.
                  </br>
                  <div class="bewertung">
                      Ich bestelle mit meiner Frau hier 3 mal im Monat, da wir körperlich nicht mehr so fit sind und der Weg in die Innenstadt uns oftmals vor Herausforderungen stellt.
                      
                  </div>
      
                  <div class="Name">
                      -Hans Blum-
                  </div>
                     
                      </div>
                    </div>   
                </div>
                </div>

            </div>
    
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    
      </div>
</section>
</div>