
        <!-- Header-->
        <header class="py-3">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">Service</h1>
                            <p class="lead fw-normal text-muted mb-4">Erfahren Sie mehr über die Dienstleistungen von StudyLivery.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- About section one-->
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-md-6">
                        <iframe
                            src="https://www.google.com/maps/d/u/0/embed?mid=1udx-CDMgAxlxmm2bpreLt09C9VkaYVY&ehbc=2E312F"
                            width="480" height="480"></iframe>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <h2 class="fw-bolder">Supermärkte</h2>
                        <p>Hier erhalten Sie einen kleinen Überblick über die Supermärkte in Konstanz. Wir liefern unter anderem aus diesen Filalien aus.</p>
                        <table class="table">
                            <thead>
                              <tr>
                                <th>Supermarkt</th>
                                <th>Straße</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Edeka BAUR</th>
                                <td>Reichenaustraße 36 </td>
                              
                              <tr>
                                <th scope="row">LIDL </th>
                                <td>Kreuzlinger Str. 24</td>
                               
                              </tr>
                              <tr>
                                <th scope="row">Kaufland</th>
                                <td>Carl-Benz-Straße. 22</td>
                             
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- About section two-->
        <section class="py-3">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/images/lebensmittel.jpg" alt="..." /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Einkaufen &amp; liefen</h2>
                        <p class="lead fw-normal text-muted mb-0">Unsere Firma bietet eine Einkaufslieferservice an. Sie haben die Möglichkeit bei uns im Online-Shop Produkte einzukaufen.
                            Diese Produkte werden in Zusammenarbeit mit den lokalen Suoermärkten regelmäßig aktualiesiert und spiegeln den Warenbestand der Läden. Sie müssen also keine Produkte vermissen.
                            Suchen Sie sich die gewünschten Produkte aus und fügen Sie dem Warenkorb hinzu.(Hierfür müssen Sie registriert sein)
                        </p>
                    </div>
                </div>
            </div>
        </section>


        <section class="py-3 mb-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/images/delivery.jpg" alt="eco" /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Jobs</h2>
                        <p class="lead fw-normal text-muted mb-0">Bewirb dich als Fahrer und unterstütze uns bei den Auslieferungsfahrten in Konstanz und werde neben deinem Studium noch körperlich aktiv. Selbstverstänldich stellen wir dir ein Fortbewegeungsmittel zur Verfügung, sodass du auch in der Lage bist die Lieferungen problemlos auszuliefern. Oder liegen dir Themen wie Planung und Organisation besonders gut ? 
                            Dann unterstütze unser Organisationsteam bei der Erstellung von Lieferrouten, dem führen von Kooperationsgesprächen oder der Betreuung unseres Kundenservices. Melde dich bei uns über das Kontaktformular.   
                    </div>
                </div>
            </div>
        </section>
       
                    
   
 


